<!doctype html>
<html>
<head>
    <title>Werewolfs vs Village</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>


    <style>
        body         { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><i class="fab fa-wolf-pack-battalion"></i> Jugar</h1>
        <a href="/perfil" class="btn btn-default btn-sm">Perfil</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <span id="userid" hidden> <%= user._id %></span>
      <span id="username" hidden> <%= user.local.usuario %> </span>

    <div class="row">



    </div>


</div>
</body>

<script src="https://www.gstatic.com/firebasejs/5.10.1/firebase.js"></script>
<script src="/js/firebase.js"></script>
<script src="/js/jugar.js"></script>
