<!doctype html>
<html>
<head>
    <title>Werewolfs vs Village</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>


    <style>
      td{
          border: 1px solid transparent;
          height: 150px;
          width: 15%;


      }
      .avatar{
          width: 100%;
          height: 60%;

      }
      body{

          background-size: 100%;
          padding-top:5px; word-wrap:break-word;
      }
      .username{
          height: 20%;
          text-align: center;
      }
      #partida{
          border: 1px solid black;
          min-height: 400px;
          min-width: 500px;
          background: rgba(46, 46, 53, 0.5);
          /*background: rgba(141, 186, 255, 0.52);*/
          color: whitesmoke;
          float: left;
      }
      .rol{
          height: 20%;
          text-align: center;
          width: 150px;
          overflow: hidden;
      }
      .dia{
        background-image: url("/img/fondo.jpg");
      }
      .noche{
        background-image: url("/img/fondo_noche.jpg");
      }
      /*Contador*/
      #InfoPartida{
        padding: 1px;
        border:solid;
        width: 45%;
        background-color: rgba(220, 220, 220, 0.8);
        border: 2px solid rgb(255, 151, 15);
        overflow: hidden;
        text-align: center;
        border-radius: 25px;
        margin: 3px;
        font-weight: bold;
        font-size: 15px;
        position:relative;
        left:30%;
      }

      #segundos{
        height: 40px;
      }
      /*Chat*/
      .chat_box{
        border:solid;
        width: 45%;
        height: 300px;
        background-color: rgba(225, 225, 225, 0.8);
        border: 2px solid white;
        float: right;
        overflow: scroll;
        border-radius: 6px;
      }
      .message_box{
        width: 45%;
        border:2px solid transparent;
        float: right;
      }

      #messages{
        padding:2%;
        overflow:scroll;
        clear:both;
        display:flex;
        flex-direction:column-reverse;

      }
      #chat_noche{
        display: none;
      }

      input[type=text] {
      width: 80%;
      padding: 5px 5px;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
      button[type=submit] {
      width: 19%;
      background-color: rgb(50, 50, 50);
      color:white;
      padding: 5px 5px;
      border: none;
      border-radius: 4px;
      cursor: pointer;

    }

    button[type=submit]:hover {
      background-color: rgb(100, 100, 100);
    }

    /*Roles*/
    .rolContainer{
      margin-top: -5%;
      margin-right: 5%;
      width: 30%;
      float: right;
    }
    #accion{
      float: right;
      height: 100px;
      width: 100px;
      border-radius: 100px;
    }
    #accion img{
      width:100%;
      height:100%;
    }
    #accion:hover{
      border: 2px solid red;
      opacity: 0.7;

    }
    .rolBox{
      margin-top: 10%;
      padding: 5px;
      text-align: center;
      border-radius: 25px;
      min-width: 65%;
      max-width: 65%;
      overflow: hidden;
      float: left;
      font-weight: bold;
      background-color: rgba(220, 220, 220, 0.8);
      border: 2px solid rgb(255, 151, 15);
      font-size: 15px;
    }
      </style>
</head>
<body class="dia">

<div class="container">

  <div class="row">
     <div class="col-sm ">
       <!--Nav -->
       <div class="page-header text-center">
           <h1><i class="fab fa-wolf-pack-battalion"></i> Jugar</h1>
           <a href="/perfil" class="btn btn-default btn-sm">Perfil</a>
           <a href="/logout" class="btn btn-default btn-sm">Logout</a>
       </div>
       <!-- Vars ocultas-->
       <span id="userid" hidden> <%= user._id %></span>
       <span id="username" hidden> <%= user.local.usuario %> </span>
       <span id="sexo" hidden> <%= user.local.sexo %> </span>
     </div>
</div>

  <div class="row ">
    <!-- Contador-->
    <div  class="col-xs-12" id="InfoPartida">
      <div class="center-block"> La partida empezará pronto. Estamos cargando los usuarios. <div id="segundos"><br>Tiempo: - segundos</div></div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <!-- Tablero-->
      <div id="partida"></div>
    </div>

    <div class="col-sm">
      <!-- Chats -->
      <div id="chat_dia">
        <div class="chat_box">
          <div id="messages"></div>
        </div>
        <div class="message_box">
          <form onsubmit="return addMessage(this)">

            <input type="text" id="texto" placeholder="Habla por aqui...">
            <button type="submit" id="btnSumbit" value="">Enviar!</button>

          </form>
        </div>
      </div>
      <div id="chat_noche">
        <div class="chat_box">
        <div id="messagesN"></div>

        </div>
        <div class="message_box">
          <form onsubmit="return addMessageN(this)">

          <input type="text" id="textoN" placeholder="Habla por aqui...">
          <button type="submit" id="btnSumbit2" value="">Enviar!</button>
          </form>
        </div>
      </div>
    </div>

    </div>

<div class="row rolContainer">
    <div class="rolBox">
        Tu rol es: fkdpskf
      </div>
      <!-- Roles -->
      <div id="accion" onclick="accion_on()"></div>
</div>

</div>

</body>
<script src="sweetalert2.all.min.js"></script>
<!-- Optional: include a polyfill for ES6 Promises for IE11 and Android browser -->
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script src="https://www.gstatic.com/firebasejs/5.10.1/firebase.js"></script>
<script src="/js/firebase.js"></script>
<script src="/js/jugar.js"></script>
<script>



  </script>
