<!doctype html>
<html>
<head>
    <title>Werewolfs vs Village</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>


    <style>
      td{
          border: 1px solid transparent;
          height: 150px;
          width:150px;
      
      
      }  
      .avatar{
          width: 100%;
          height: 60%;
      
      }
      body{
          
          background-size: 100%;
          padding-top:5px; word-wrap:break-word;
      }
      .username{
          height: 20%;
          text-align: center;
      }
      #partida{
          border: 1px solid black;
          height: 616px;
          width: 616px;
          background: rgba(46, 46, 53, 0.5);
          /*background: rgba(141, 186, 255, 0.52);*/
          color: whitesmoke;
      }
      .rol{
          height: 20%;
          text-align: center;
          width: 150px;
          overflow: hidden;
      }
      .dia{
        background-image: url("/img/fondo.jpg");
      }
      .noche{
        background-image: url("/img/fondo_noche.jpg");
      }
      
      
      
      </style>
</head>
<body class="dia">
<div class="container">

    <div class="page-header text-center">
        <h1><i class="fab fa-wolf-pack-battalion"></i> Jugar</h1>
        <a href="/perfil" class="btn btn-default btn-sm">Perfil</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <span id="userid" hidden> <%= user._id %></span>
      <span id="username" hidden> <%= user.local.usuario %> </span>

    <div class="row">

      <div id="partida"></div>

    </div>


</div>
</body>

<script src="https://www.gstatic.com/firebasejs/5.10.1/firebase.js"></script>
<script src="/js/firebase.js"></script>
<script src="/js/jugar.js"></script>
