<!doctype html>
<html>
<head>
    <title>Werewolfs vs Village</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>


    <style>
      td{
          border: 1px solid transparent;
          height: 150px;
          width: 15%;


      }
      .avatar{
          width: 100%;
          height: 60%;

      }
      body{

          background-size: 100%;
          padding-top:5px; word-wrap:break-word;
      }
      .username{
          height: 20%;
          text-align: center;
      }
      #partida{
          border: 1px solid black;
          min-height: 400px;
          background: rgba(46, 46, 53, 0.5);
          /*background: rgba(141, 186, 255, 0.52);*/
          color: whitesmoke;
          float: left;
      }
      .rol{
          height: 20%;
          text-align: center;
          width: 150px;
          overflow: hidden;
      }
      .dia{
        background-image: url("/img/fondo.jpg");
      }
      .noche{
        background-image: url("/img/fondo_noche.jpg");
      }
      #InfoPartida{
        border:solid;
        width: 45%;
        height: 50px;
        background-color: white;
        border:solid;
        float: right;
        text-align: center;
        line-height: 50px
      }
      .chat_box{
        border:solid;
        width: 45%;
        height: 300px;
        background-color: rgba(255, 255, 255, 0.7);
        border:solid;
        float: right;
        overflow: scroll;
      }
      .message_box{
        border:solid 1px rgba(255, 255, 255, 1);;
        width: 45%;        
        border:solid;
        float: right;
        background-color: rgba(255, 255, 255, 0.7);
      }
      input[type=text] {
        width: 83%;
      }
      #messages{
        padding:2%;
        overflow:scroll; 
        display:flex; 
        flex-direction:column-reverse;
      }


      </style>
</head>
<body class="dia">
<div class="container">

    <div class="page-header text-center">
        <h1><i class="fab fa-wolf-pack-battalion"></i> Jugar</h1>
        <a href="/perfil" class="btn btn-default btn-sm">Perfil</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <span id="userid" hidden> <%= user._id %></span>
      <span id="username" hidden> <%= user.local.usuario %> </span>

    <div class="row">

      <div id="partida"></div>

      <div id="InfoPartida">  TEXTO</div>

      <div class="chat_box">
        <div id="messages"></div>
       
      </div>
      <div class="message_box">
      <form onsubmit="return addMessage(this)">
          
        <input type="text" id="texto" placeholder="Habla por aqui...">
        <input type="submit" value="Enviar!">
      </div>
    </form>
    </div>
    
    

</div>
</body>

<script src="https://www.gstatic.com/firebasejs/5.10.1/firebase.js"></script>
<script src="/js/firebase.js"></script>
<script src="/js/jugar.js"></script>
